h1{
    color: beige;
}
h2{
    color: beige;
}
h3{
    color: beige;
    background-color: black;
}
li{
    color: beige;
}

.p1 {background-color: rgba(255, 0, 0, 0.2);}  
.p2 {background-color: rgba(255, 0, 0, 0.4);}  
.p3 {background-color: rgba(255, 0, 0, 0.6);}
.body{
background-color :rgba(153, 57, 63, 0.8);
}