.p1 {background-color: rgba(255, 0, 0, 0.2);
color: beige;}  
.p2 {background-color: rgba(255, 0, 0, 0.4);
    color: beige;}  
.p3 {background-color: rgba(255, 0, 0, 0.6);
    color: beige;}
.body{
background-color :rgba(153, 57, 63, 0.8);
color: beige;
}